* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

/*--------------Header--------------------*/

header {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: space-between;  
    width: 100%;
}


.burguer-menu {
    display: none;
}

/** Desktop **/
@media (min-width: 992px) {
    header > img {
        background-color: red;
        margin-left: 20px;
    }
    nav {
        width: 60%;
        background-color: red;
        font-family: sans-serif;
    }

    nav > ul {
        background-color: azure;
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    nav > ul > li > a {
        text-decoration: none;
        color: #025157
    }

    .actions {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: bisque;
    }
}

/** celulares  viewport **/
@media (max-width: 575px) {
    nav {
        display: none;
    }

    .burguer-menu {
        display: inline;
        margin-top: 5px;
        margin-right: 5px;
    }

    .actions {
        display: none;
    }
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}
/*--------------Footer--------------------*/

/** Desktop **/
@media (min-width: 992px) {
    
}

/** celulares  viewport **/
@media (max-width: 575px) {
    
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}