* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

/*--------------Header--------------------*/

header {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: space-between;   
}


.burguer-menu {
    display: none;
}

/** Desktop **/
@media (min-width: 992px) {
    nav {
        width: 60%;
        background-color: red;
    }

    nav > ul {
        background-color: chartreuse;
        display: flex;
        height: 100%;
        justify-content: space-around;
    }
}

/** celulares  viewport **/
@media (max-width: 575px) {
    nav {
        display: none;
    }

    .burguer-menu {
        display: inline;
        margin-top: 5px;
        margin-right: 5px;
    }

    .actions {
        display: none;
    }
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}
/*--------------Footer--------------------*/

/** Desktop **/
@media (min-width: 992px) {
    
}

/** celulares  viewport **/
@media (max-width: 575px) {
    
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}