* {
    padding: 0;
    margin: 0;
}

/*--------------Header--------------------*/

.matcha-green-button {
    color: white;
    border-radius: 8px;
    background-color: #025157;
    border:#025157;
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    transition-duration: 0.2s;
}

.matcha-green-button:hover {
    background-color: #67b54b;
    border: #67b54b;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-between;  
    width: 94%;
    margin: auto;
}


.burguer-menu {
    display: none;
}

/** Desktop **/
@media (min-width: 992px) {
    header > img {
        margin-left: 40px;
    }
    nav {
        width: 60%;
        font-family: sans-serif;
    }

    nav > ul {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .actions {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 40px;
    }

    .nav-anchor {
        text-decoration: none;
        color: #025157;
        margin-left: 1em;
        font-family: sans-serif;
    }

    .sign-in-anchor {
        font-size: small;
        font-weight: bold;
    }
}

/** celulares  viewport **/
@media (max-width: 575px) {
    header {
        height: 50px;
    }
    nav {
        display: none;
    }

    .burguer-menu {
        display: inline;
        margin-top: 5px;
        margin-right: 5px;
    }

    .actions {
        display: none;
    }
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {
    header {
        height: 50px;
    }
}
/*--------------Footer--------------------*/

/** Desktop **/
@media (min-width: 992px) {
    
}

/** celulares  viewport **/
@media (max-width: 575px) {
    
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}