/*--------------Optimize Blog----------------*/
#optimize-blog {
    height: 720px;
    width: 100%;
    display: grid;
}

.optimize-blog-1 {
    grid-area: content;
}

.optimize-blog-2 {
    grid-area: video;
}

.optimize-blog-3 {
    grid-area: brands;
}

/** Desktop **/
@media (min-width: 992px) {
    #optimize-blog {
        grid-template-areas: 
        "content video"
        "brands brands";
        grid-template-rows: 1fr 30%;
        grid-template-columns: 50% 50%;
    }

    /**  Primera seccion de optimize blog  **/
    .optimize-blog-1 {
        padding: 20px;
    }

    .optimize-header {
        color: #025157;
        font-size: 3em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 20px 0;
        width: 90%;
    }

    .optimize-paragraph {
        font-size: 1.6vw;
        margin-bottom: 20px;
        width: 90%;
        font-family: sans-serif;
        color: gray;
    }

    .optimize-action {
        margin-top: 50px;
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .trial-button {
        color: white;
        background-color: #67b54b !important;
        border: #67b54b;
    }
    
    .optimize-terms {
        color: lightslategray;
        font-family: sans-serif;
        font-size: small;
    }

    /**  Segunda seccion de optimize blog **/
    .optimize-blog-2 {
        position: relative;
    }

    article > .img1 {
        position: absolute;
        left: 12em;
    }
    article > .img2 {
        position: absolute;
        left: 3em;
        top: 3em;
    }
    article > .img3 {
        position: absolute;
        bottom: 1.2em;
        right: 1.2em;
    }
    article > .img4 {
        position: absolute;
        bottom: 8em;
        right: 12em;
    }
    article > .img5 {
        position: absolute;
        bottom: 4em;
        left: 5em;
    }
    article > .img6 {
        position: absolute;
        top: 11em;
        right: 4.2em;
    }

    article > .play-button-container {
        position: absolute;
        width: 6em;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        background-color: #025157;
        opacity: 0.6;
        border-radius: 5px;
        padding: 1em 1em;
        font-weight: bold;     
        color: white;
        font-family: sans-serif;
        font-size: small;
        top: 15.7em;
        left: 22em;
    }

    .optimize-blog-3 {
        text-align: center;
        align-content: center;
    }

    .optimize-blog-3 > h4 {
        margin-top: 10px;
        margin-bottom: 40px;
        color: gray;
        opacity: 0.6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
    }

    .optimize-blog-3 > section {
        width: 75vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .optimize-blog-3 > section > img {
        margin: auto;
    }

}

/** celulares  viewport **/
@media (max-width: 575px) {

    #optimize-blog {
        height: 210vh;
        grid-template-areas: 
        "content"
        "video" 
        "brands";
        grid-template-rows: 43% 17% 40%;
    }
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}

/*--------------Top Features--------------------*/

/** Desktop **/
@media (min-width: 992px) {
    .top-features {
        margin-top: 35vh;
        position: relative;
        height: 720px;
        width: 100%;
    }

    .top-features-head {
        padding-top: 10px;
        margin: auto;
        margin-bottom: 3.2em;
        text-align: center;
    }

    .top-features-title {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .top-features-paragraph {
        margin-top: 15px;
        color: gray;
        font-family: sans-serif;
        font-size: large;
    }
    
    .features-container {
        /* display: flex; */
        margin: auto;
        display: flex;
        height: 30em;
        width: 98%;
        justify-content: space-around;
        gap: 12px;
        align-items: center;
    }
    
    .chunk-item {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        align-items: center;
    }
    
    .img-chunk {
        width: 90%;
        border-radius: 15px;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 5%;
    }
    
    .chunk-text {
        font-family: sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        color: gray;
    }
    
    .chunk-header-text {
        font-size: larger;
    }
    
    .chunk-description-text {
        color: #025157;
        width: 90%;
        margin: auto;
    }   
}

/** celulares  viewport **/
@media (max-width: 575px) {
    
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}
/*--------------Tools Publish--------------------*/
/** Desktop **/
@media (min-width: 992px) {
    
}

/** celulares  viewport **/
@media (max-width: 575px) {
    
}

/** Celular Landscape **/
@media (min-width: 576px) and (max-width: 767px) {

}
/*--------------Growing Ecommerce--------------------*/
/*--------------Matcha Compares--------------------*/
/*--------------Matcha Powers--------------------*/
/*--------------Masters Ecommerce--------------------*/

